header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 1rem 10%;
    background-color: rgba(20, 29, 47, 0.6);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.navBar a {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 3.5rem;
    transition: 225ms;
}

.navBar a:hover {
    color: var(--main-color);
    text-shadow: var(--font-neon-text-shadow);
}

.active {
    color: var(--main-color);
}

.burger-menu {
    width: 2rem;
    height: 2rem;
    z-index: 1000;
    cursor: pointer;
    display: none;
}

.close {
    width: 2rem;
    height: 2rem;
    z-index: 1000;
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {
    .navBar a {
        margin-left: 2.5rem;
    }
}

@media only screen and (max-width: 1020px) {
    .navBar a {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 900px) {

    header {
        padding: 1rem 5%;
    }


    .burger-menu {
        display: block;
    }

    .navBar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding: 1rem 5%;
        background-color: var(--first-bg-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all 225ms ease-in-out;
        overflow-y: auto;
    }

    .navBar.active {
        right: 0;
        transition-delay: 0s;
    }

    .navBar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}