<footer class="footer-section">
    <div class="logo">
        <a href="#home">
            <img src="/assets/icons/logo.png" alt="">
        </a>
        <a class="imprint" routerLink="/imprint">Imprint</a>
    </div>
    <div class="name">
        <span>
            © Hosny Fahim 2023
        </span>
    </div>
    <div class="links">
        <a href="https://github.com/HosnyFahim" target="_blank"><img src="./assets/icons/github.svg"></a>
        <a href="https://linkedin.com/in/hosny-fahim-860766236" target="_blank"><img
                src="./assets/icons/linkedin.svg"></a>
        <a href="https://www.facebook.com/hosny.fahim.1991" target="_blank"><img src="./assets/icons/facebook.svg"></a>
        <a href="mailto: hosny.fahim1990@gmail.com" target="_blank"><img class="mail" src="./assets/icons/mail.svg"></a>
    </div>
    <a href="#" class="go-up">
        <img src="/assets/icons/up.svg" alt="">
    </a>

</footer>