<footer class="footer-section">
    <div class="logo">
        <a href="#home">
            <img src="/assets/icons/logo.png" alt="">
        </a>
        <div class="datenschutz-impressum-container">
            <a class="imprint" routerLink="/imprint">Impressum</a>
            <a class="imprint" routerLink="/datenschutz">Datenschutz</a>
        </div>
    </div>
    <div class="name">
        <span>
            © Hosny Fahim 2024
        </span>
    </div>
    <div class="links">
        <a href="https://github.com/HosnyFahim" target="_blank"><img src="./assets/icons/github.svg"></a>
        <a href="https://linkedin.com/in/hosny-fahim-860766236" target="_blank"><img
                src="./assets/icons/linkedin.svg"></a>
        <a href="mailto: hosny.fahim1990@gmail.com" target="_blank"><img class="mail" src="./assets/icons/mail.svg"></a>
    </div>

</footer>