<footer class="footer-section">
    <div class="logo">
        <a href="#home">
            <img src="/assets/icons/logo.png" alt="">
        </a>
        <a class="imprint" href="">Imprint</a>
    </div>
    <div class="name">
        <span>
            © Hosny Fahim 2023
        </span>
    </div>
    <div class="links">
        <a href="https://github.com/HosnyFahim" target="_blank"><img src="./assets/icons/github.svg"></a>
        <a href="https://linkedin.com/in/hosny-fahim-860766236" target="_blank"><img
                src="./assets/icons/linkedin.svg"></a>
        <a href="https://www.facebook.com/hosny.fahim.1991" target="_blank"><img src="./assets/icons/facebook.svg"></a>
        <a href="https://twitter.com/Hosny_Fahim" target="_blank"><img src="./assets/icons/twitter.svg"></a>
    </div>
    <a href="#" class="gu-up">
        <img src="" alt="">
    </a>

</footer>