.footer-section {
    z-index: 25;
    border-top: 2px solid #00BEE8;
    width: 100%;
    margin-top: clamp(100px, 124.6031746032px + 7.9365079365vw, 140px);
    background-color: #141d2f;
    padding: 80px 10%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    position: relative;

    .logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 16rem;
    }

    .imprint {
        color: #fff;
        position: relative;
        display: inline-block;
        transition: all 225ms ease-in-out;

    }

    .imprint:hover {
        color: var(--main-color);
        text-shadow: var(--font-neon-text-shadow);
    }

    img {
        width: 90px;
        height: 80px;
    }



    .links {
        width: 14rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: transparent;
            border: 1px solid var(--main-color);
            box-shadow: var(--neon-box-shadow);
            z-index: 1;
            overflow: hidden;
            transition: border-radius 225ms;
            border-radius: 5px;

            &:hover {
                color: var(--first-bg-color);
                border-radius: 0% 0% 15px 0%;
                border: none;

                img {
                    filter: invert(8%) sepia(16%) saturate(3327%) hue-rotate(169deg) brightness(95%) contrast(96%);
                }
            }
        }

        img {
            width: 40px;
            height: 40px;
            filter: invert(66%) sepia(71%) saturate(5110%) hue-rotate(164deg) brightness(100%) contrast(200%);
            transition: 225ms;
        }

        .mail {
            width: 32px;
            height: 32px;
        }
    }
}



.links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 225ms;
}

.links a:hover::before {
    width: 100%;
}

.go-up {
    position: absolute;
    top: -100px;
    right: 10%;
    cursor: pointer;
    object-fit: contain;

    img {
        width: 39px;
        height: 39px;
    }
}

.go-up:hover {
    transform: scale(1.1);
    transition: all 225ms ease-in-out;
}



@media only screen and (max-width: 900px) {
    .footer-section {
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 50px 5% 100px;
        gap: 30px;

        .logo {
            width: 100%;
            align-items: center;

            .imprint {
                position: absolute;
                bottom: 50px;
            }
        }

        .name {
            display: flex;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 700px) {
    .footer-section {
        img {
            width: 60px;
            height: 55px;
        }
    }

    .links {
        a {
            width: 30px !important;
            height: 30px !important;
        }

        img {
            width: 30px !important;
            height: 30px !important;
        }

        .mail {
            width: 24px !important;
            height: 24px !important;
        }
    }
}