<section class="about">
    <div class="about-img-content">
        <div class="about-img"></div>
    </div>
    <div class="about-content">
        <h1>ABOUT ME</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi pariatur dicta deleniti, vel illo ullam
            error repellendus consectetur maiores alias harum officiis perferendis architecto rem iste placeat eaque
            odio veniam.</p>
        <div>
            <div></div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum nemo quibusdam dicta corporis
                molestias fugiat architecto recusandae omnis eaque quo, quae repudiandae officiis placeat! Officia
                suscipit minus porro quae vitae.</p>
        </div>
        <div>
            <div></div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed cupiditate ex eum, dolorem debitis
                consequuntur atque error asperiores ea a odit? Qui tempore quod illum architecto dolore libero veniam
                sint!</p>
        </div>
    </div>
</section>