<section class="about" id="about">
    <div class="bg-img"></div>
    <div class="about-box">
        <span class="about-child">About me</span>
        <p class="about-child">
            I am a passionate German-speaking frontend developer based in Cologne, bringing new ideas to life through
            programming user-friendly and easy-to-use applications. I am always striving to enhance my skills through
            the latest technologies. Creative, innovative, and constantly seeking new challenges.</p>
        <div class="description about-child">
            <div class="icon-box">
                <img src="/assets/icons/light.svg">
            </div>
            <p>Completing my education at the Developer Academy laid a solid foundation for my career in frontend
                development. The dynamic nature of this field fuels my curiosity and passion. I constantly seek
                opportunities to learn and grow, embracing the ever-changing technology landscape. I prioritize
                meticulous planning, clean coding, and thorough documentation to ensure high-quality work. Agile methods
                and teamwork are essential elements in my approach to achieving the best results. Frontend development
                is not just a profession, but a true calling that brings me joy and satisfaction.
            </p>
        </div>
        <div class="description about-child">
            <div class="icon-box">
                <img src="/assets/icons/puzzle.svg">
            </div>
            <p>As someone who originally started their career as a bank clerk, transitioning into the IT world was a
                liberating and exciting step for me. I have discovered that working as a frontend developer seamlessly
                combines my passion for creativity and technology. Developing websites and applications that assist and
                inspire users in their daily lives brings me deep satisfaction and drives me in my work.</p>
        </div>
    </div>
    <div class="img-content">
        <div class="img-box"></div>
        <div class="right-line"></div>
    </div>
</section>