.my-work {
    display: flex;
    flex-direction: column;
    background: var(--second-bg-color);
    gap: 4rem;
    background-image: url(/assets/img/vector4.svg);
    background-repeat: no-repeat;
    background-position: -120px 50%;
    background-size: 500px;
    position: relative;
    padding: 60px 10%;
}

.main-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    margin-top: clamp(240px, 28.666667px + 9.666667vw, 290px);
    scroll-margin-top: 100px;
    z-index: 15;
    gap: 30px;
    text-align: center;

    span {
        display: inline-block;
        font-weight: 900;
        font-size: clamp(2rem, 1.375rem + 3.125vw, 4.375rem);
        padding: 0 20px;
        z-index: 15;
        background-color: #141d2f;
    }
}

.left-line {
    width: 75vw;
    background-color: #4b47ff;
    position: absolute;
    right: 0;
    top: clamp(25px, 16.8421052632px + 2.5493421053vw, 56px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1.5px solid var(--main-color);
    box-shadow: var(--neon-box-shadow);
}

.filter-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 4rem;

    .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 100%;
        background: var(--second-bg-color);
        border: 1px solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--main-color);
        z-index: 15;
        overflow: hidden;
        cursor: pointer;
        transition: border-radius 225ms;
        border-radius: 10px;

    }
}

.filter-buttons .btn:hover {
    color: var(--first-bg-color);
    transition: 225ms ease-in-out;
    border: none;
}

.filter-buttons .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 225ms;
}

.filter-buttons .btn:hover::before {
    width: 100%;
}

.filter-buttons .btn.active {
    color: var(--first-bg-color);
    border: none;
}

.filter-buttons .btn.active::before {
    width: 100%;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;

    .project-box {
        position: relative;
        overflow: hidden;
        background: var(--first-bg-color);
        display: flex;
        align-items: center;
        border: 2px solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
        transition: border-radius 225ms;
        border-radius: 10px;
        z-index: 20;

        .project-img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            img {
                object-fit: contain;
                max-width: 100%;
                width: 550px;
                transition: 225ms;
            }
        }

        .project-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.94), var(--main-color));
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            transition: 225ms;
            padding: 0 1rem;
            gap: 20px;

            .project-name {
                font-weight: 700;
                font-size: 32px;
                line-height: 120%;
                color: #4b47ff;
            }

            .project-tech {
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 26px;
                line-height: 120%;
                color: #00bee8;
            }

            p {
                margin: 5px 0 15px 0;
                color: var(--text-color);
                font-size: clamp(1rem, 0.9671052632rem + 0.1644736842vw, 1.125rem);
                line-height: 120%;
            }

            a {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 40px;
                color: var(--text-color);
                background: var(--second-bg-color);
                box-shadow: var(--neon-box-shadow);
                border: 1px solid var(--main-color);
                z-index: 1;
                overflow: hidden;
                font-size: 16px;
                font-weight: 600;
                transition: 225ms ease-in-out;
                transition: border-radius 225ms;
                border-radius: 10px;
            }
        }

    }
}


.project-box:hover .project-content {
    opacity: 1 !important;
}

.project-box:hover .project-img {
    transition: all 225ms ease-in-out;
}

.project-box:hover .project-img img {
    transition: all 225ms ease-in-out;
    transform: scale(1.4);
}

.project-btn {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}


.project-content a:hover {
    transition: 225ms ease-in-out;
}

.project-content a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--title-color);
    z-index: -1;
    transition: 225ms;
}

.project-content a:hover::before {
    width: 100%;
}







@media only screen and (max-width: 900px) {
    .my-work {
        padding: 60px 5%;
    }

    .main-text {
        padding: 0 5%;
    }


}




@media only screen and (max-width: 700px) {
    .my-work {
        background-size: contain !important;
        background-position: center;
    }

    .filter-buttons {
        gap: 1rem !important;

        .btn {
            font-size: clamp(0.8rem, 0.1333rem + 3.8095vw, 1.8rem) !important;
            font-weight: 500 !important;
        }

        .filter-buttons .btn.active {
            color: var(--first-bg-color);
            border-radius: 0% 0% 20px 0% !important;
            border: none;
        }
    }

    .project-img {
        img {
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 550px) {
    .project-name {
        font-size: 26px !important;
    }

    .project-tech {
        font-size: 24px !important;
    }

    .project-box:hover {
        border-radius: none !important;
    }

    .project-content {
        gap: 0px !important;
    }
}


@media only screen and (max-width: 400px) {


    .project-name {
        font-size: 22px !important;
    }

    .project-tech {
        font-size: 20px !important;
    }

    .project-img {
        img {
            object-fit: cover !important;
            max-width: 100%;
            height: 260px;
            transition: 225ms;
        }
    }


}