<section class="my-work">
    <div class="main-text">
        <h1>Portfolio</h1>
    </div>

    <div class="my-work-container">
        <div class="filter-buttons">
            <button class="btn">All</button>
            <button class="btn">JavaScript</button>
            <button class="btn">Angular</button>
        </div>
    </div>

    <div class="project-gallery">
        <div class="project-box">
            <div class="project-img">
                <img src="">
            </div>
        </div>
    </div>

</section>