<div class="main-text" id="my-work">
    <div class="left-line"></div>
    <span>Portfolio</span>
    <p>This page is a sample of my work - please feel free to try them out.</p>
</div>

<section class="my-work" id="portfolio">


    <div class="filter-buttons">
        <button class="btn" [ngClass]="{ active: activeButton === 'all' }" (click)="setActiveButton('all')">All</button>
        <button class="btn" [ngClass]="{ active: activeButton === 'angular' }"
            (click)="setActiveButton('angular')">Angular</button>
        <button class="btn" [ngClass]="{ active: activeButton === 'javascript' }"
            (click)="setActiveButton('javascript')">JavaScript</button>
    </div>

    <div class="project-gallery">
        <div *ngFor="let project of filteredProjects" class="project-box">
            <div class="project-img">
                <img [src]="project.image">
            </div>
            <div class="project-content">
                <span>{{ project.title }}</span>
                <span>{{ project.undertitle }}</span>
                <p>{{ project.description }}</p>
                <div class="project-btn">
                    <a href="#">Try it</a>
                    <a href="#">Git</a>
                </div>
            </div>
        </div>
    </div>
    <img src="" alt="">
</section>