.my-work {
    display: flex;
    flex-direction: column;
    background: var(--second-bg-color);
    gap: 10rem;
}


h1 {
    display: inline;
    font-size: var(--title-font);
    font-weight: 700;
    line-height: 75px;
    white-space: nowrap;
    color: var(--main-color);
    text-shadow: var(--neon-box-shadow);
}

.filter-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 4rem;

    .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 100%;
        background: var(--first-bg-color);
        border: .2rem solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: .1rem;
        color: var(--main-color);
        z-index: 1;
        overflow: hidden;
        cursor: pointer;

    }
}

.filter-buttons .btn:hover {
    color: var(--first-bg-color);
    transition: 225ms ease-in-out;
}

.filter-buttons .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 225ms;
}

.filter-buttons .btn:hover::before {
    width: 100%;
}

.filter-buttons .btn.active {
    color: var(--first-bg-color);
}

.filter-buttons .btn.active::before {
    width: 100%;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 8rem;

    .project-box {
        position: relative;
        overflow: visible;
        background: var(--first-bg-color);
        display: flex;
        grid-template-rows: 1fr auto;
        align-items: center;
        border: 2px solid var(--main-color);
        box-shadow: var(--neon-box-shadow);

        .project-img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                transition: 225ms;
            }
        }

        .project-content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.4), var(--main-color));
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            transition: 225ms;
            padding: 0 2rem;

            h2 {
                font-size: 1.7rem;
                font-weight: 600;
                color: var(--main-color);
            }

            h3 {
                font-size: 1.2rem;
                font-weight: 600;
                color: var(--text-color);
            }

            p {
                font-size: 16px;
                font-weight: 600;
                margin: 5px 0 15px 0;
                color: var(--text-color);
            }

            a {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 40px;
                color: var(--main-color);
                background: var(--first-bg-color);
                box-shadow: var(--neon-box-shadow);
                z-index: 1;
                overflow: hidden;
                font-size: 16px;
                font-weight: 600;
            }
        }

    }
}


.vertical {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 40px;
    background-color: var(--main-color);
    box-shadow: var(--neon-box-shadow);
    transform: translateX(-50%);

}

.horizontal {
    position: absolute;
    top: 122%;
    left: 32px;
    width: 75%;
    height: 2px;
    background-color: var(--main-color);
    box-shadow: var(--neon-box-shadow);
    transform: translateY(-50%);
}

.project-box:hover .project-content {
    opacity: 1 !important;
}

.project-box:hover .project-img {
    transition: all 225ms ease-in-out;
    z-index: -1;
}

.project-btn {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}


.project-content a:hover {
    color: var(--first-bg-color) !important;
}

.project-content a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 225ms;
}

.project-content a:hover::before {
    width: 100%;
}