<section class="my-work">
    <div class="main-text">
        <h1>My work</h1>
    </div>

    <div class="filter-buttons">
        <button class="btn" [ngClass]="{ active: activeButton === 'all' }" (click)="setActiveButton('all')">All</button>
        <button class="btn" [ngClass]="{ active: activeButton === 'angular' }"
            (click)="setActiveButton('angular')">Angular</button>
        <button class="btn" [ngClass]="{ active: activeButton === 'javascript' }"
            (click)="setActiveButton('javascript')">JavaScript</button>
    </div>

    <div class="project-gallery">
        <div *ngFor="let project of filteredProjects" class="project-box">
            <div class="project-img">
                <img [src]="project.image">
            </div>
            <div class="project-content">
                <h2>{{ project.title }}</h2>
                <h3>{{ project.undertitle }}</h3>
                <p>{{ project.description }}</p>
                <div class="project-btn">
                    <a href="#">Try it</a>
                    <a href="#">Git</a>
                </div>
            </div>
            <div class="vertical"></div>
            <div class="horizontal"></div>
        </div>
    </div>
</section>