<section id="skills">
    <div class="skills-container">
        <h1>Skills</h1>
        <div class="skills-list">
            <div>
                <img src="./assets/icons/html.png">
                <span>HTML5</span>
            </div>
            <div>
                <img src="./assets/icons/css.png">
                <span>CSS3</span>
            </div>
            <div>
                <img style="height: 75px;" src="./assets/icons/sass.png">
                <span>SCSS/SASS</span>
            </div>
            <div>
                <img src="./assets/icons/javascript.png">
                <span>JavaScript</span>
            </div>
            <div>
                <img src="./assets/icons/typescript.png">
                <span>TypeScript</span>
            </div>
            <div>
                <img src="./assets/icons/angular.png">
                <span>Angular</span>
            </div>
            <div>
                <img src="./assets/icons/material.png">
                <span>Material UI</span>
            </div>
            <div>
                <img src="./assets/icons/api.png">
                <span>Rest API</span>
            </div>
            <div>
                <img src="./assets/icons/firebase.png">
                <span>Firebase</span>
            </div>
            <div>
                <img src="./assets/icons/wordpress.png">
                <span>Wordpress</span>
            </div>
            <div>
                <img src="./assets/icons/git.png">
                <span>Git</span>
            </div>
            <div>
                <img src="./assets/icons/scrum.png">
                <span>SCRUM</span>
            </div>
        </div>
    </div>
</section>