<section id="skills">
    <div class="icons-container">
        <img src="/assets/icons/angular.svg">

        <div class="vue-container">
            <img src="/assets/img/vuejs.svg" alt="">
            <span>VueJS</span>
        </div>

        <img src="/assets/icons/typescript.svg">

        <img src="/assets/icons/javascript.svg">

        <img src="/assets/icons/html.svg">

        <img src="/assets/icons/firebase.svg">

        <img src="/assets/icons/git.svg">

        <img src="/assets/img/Property 1=css.svg">

        <img src="/assets/icons/api.svg">

        <img src="/assets/icons/scrum.svg">

        <img src="/assets/icons/material.svg">
    </div>
    <div class="right-line"></div>
    <div class="description-container">
        <span>My Skills</span>
        <p>
            I have grown my frontend developments skillst that have allowed me to create different real projects.
        </p>
        <div class="btn-box">
            <a class="btn" href="#contact">Get in touch</a>
        </div>
    </div>
    <div class="bg-img"></div>
</section>