<section id="skills">
    <div class="icons-container">
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>Angular</span>
        </div>

        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>VueJS</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>TypeScript</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>JavaScript</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>HTML</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>Firebase</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>GIT</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>SCSS</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>Rest-Api</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>Scrum</span>
        </div>
        <div class="skill-logo">
            <img src="/assets/icons/vuejs.svg" alt="">
            <span>Material design</span>
        </div>
    </div>
    <div class="right-line"></div>
    <div class="description-container">
        <span>My Skills</span>
        <p>
            I have grown my frontend developments skillst that have allowed me to create different real projects.
        </p>
        <div class="btn-box">
            <a class="btn" href="#contact">Get in touch</a>
        </div>
    </div>
    <div class="bg-img"></div>
</section>