.contact {
    width: 100%;
}

.contact-title {
    display: flex;
    justify-content: flex-start;
    gap: 40px;

    h2 {
        display: inline;
        font-size: var(--title-font);
        font-weight: 700;
        line-height: 75px;
        white-space: nowrap;
        color: var(--main-color);
        text-shadow: var(--neon-box-shadow);
    }

    span {
        margin-top: 36px;
        font-size: 26px;
    }
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}