.contact-title {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
    margin-top: clamp(100px, 70.4890387858px + 8.431703204vw, 200px);
    padding: 0 0 0 10%;
    scroll-margin-top: 100px;

    .right-line {
        width: calc(10% - 20px);
        background-color: var(--main-color);
        border: 1.5px solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
        position: absolute;
        left: 0;
        top: clamp(1.5rem, 1.0723684211rem + 2.1381578947vw, 3.125rem);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    span {
        display: inline-block;
        font-weight: 900;
        font-size: clamp(2rem, 1.375rem + 3.125vw, 4.375rem);
        z-index: 15;
        background-color: #141d2f;
    }
}



.contact-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    justify-content: space-between;

    span {
        font-weight: 700;
        font-size: clamp(1.75rem, 1.6842105263rem + .3289473684vw, 2rem);
        width: 70%;
    }

    p {
        font-weight: 400;
        font-size: clamp(1rem, .9671052632rem + .1644736842vw, 1.125rem);
        line-height: 120%;
        width: 70%;
        margin: 20px 0 20px 0px;
    }
}

.contact-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 10%;
    position: relative;
    color: #fff;
    margin-top: 70px;

    form {
        display: flex;
        align-items: center;
        gap: 25px;
        flex-direction: column;
        width: 50%;
    }
}

.contact-section form input.empty-focused {
    border: 1px solid #e61c40 !important;
    box-shadow: var(--neon-box-shadow-3) !important;
}

.contact-section form input.has-content {
    border: 1px solid #6FE61A !important;
    box-shadow: var(--neon-box-shadow-4) !important;
}

.contact-section form .transparent {
    color: transparent;
}

.input-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    input {
        width: 100%;
        border: 1px solid #4B47FF;
        box-shadow: var(--neon-box-shadow-2);
        border-radius: 10px;
        height: 50px;
        padding: 15px 50px 15px 25px;
        background: #141D2F;
        color: #fff;
        caret-color: #fff;
        transition: 225ms ease-in-out;

        &:hover {
            border: 1px solid var(--main-color);
            box-shadow: var(--neon-box-shadow);
        }
    }


    textarea {
        width: 100%;
        border: 1px solid #4B47FF;
        box-shadow: var(--neon-box-shadow-2);
        border-radius: 10px;
        height: 50px;
        padding: 15px 50px 15px 25px;
        background: #141D2F;
        height: 202px;
        color: #fff;
        resize: none;
        transition: 225ms ease-in-out;

        &:hover {
            border: 1px solid var(--main-color);
            box-shadow: var(--neon-box-shadow);
        }
    }
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: var(--text-color) !important;
    background: var(--second-bg-color);
    margin-bottom: 2rem;
    border: 2px solid var(--second-bg-color);
    // box-shadow: var(--neon-box-shadow);
    padding: .7rem;
    resize: none;
    font-size: 20px;
    transition: 225ms ease-in-out;
}

.active {
    border: 2px solid var(--main-color) !important;
    box-shadow: var(--neon-box-shadow) !important;
    border-radius: 0px 0px 40px 0px !important;
}

textarea {
    height: 300px;
    text-decoration: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 4rem;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: var(--neon-box-shadow);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--first-bg-color);
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    transition: border-radius 225ms;
}

.btn:hover {
    color: var(--main-color);
    transition: 225ms ease-in-out;
    border-radius: 0px 0px 40px 0px;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--first-bg-color);
    z-index: -1;
    transition: 225ms;
}

.btn:hover::before {
    width: 100%;
}