<section class="contact">
    <div class="contact-title">
        <h2>Contact Me</h2>
        <span>ask me something</span>
    </div>

    <form action="#" class="contact-form">
        <input type="text" placeholder="Your Name" class="name">
        <input type="text" placeholder="Your Email" class="email">
        <textarea type="text" placeholder="Add Message" class="add-message"></textarea>
        <div class="btn-box formBtn">
            <button type="submit" class="btn">Send Message</button>
        </div>
    </form>
</section>