/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    border: none;

    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #12f7ff;
    }
}

:root {
    --first-bg-color: #000;
    --second-bg-color: #081b29;
    --text-color: #ededed;
    --main-color: #00BEE8;
    --title-font: 4rem;
    --big-font: 3rem;
    --normal-font: 20px;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
        0 0 20px rgba(18, 247, 255, 0.3),
        0 0 30px rgba(18, 247, 255, 0.3),
        0 0 40px rgba(18, 247, 255, 0.3),
        0 0 70px rgba(18, 247, 255, 0.3),
        0 0 80px rgba(18, 247, 255, 0.3),
        0 0 100px rgba(18, 247, 255, 0.3),
        0 0 150px rgba(18, 247, 255, 0.3);
}


body {
    font-family: 'Poppins', sans-serif;
    background: var(--first-bg-color);
    color: var(--text-color);

    p {
        font-size: var(--normal-font);
    }
}

section {
    min-height: 100vh;
    padding: 120px 10%;
}

.navBar a.active {
    color: var(--main-color) !important;
}