<section class="home" id="home">
    <div class="home-content">
        <h1>Hi!, I'm Hosny Fahim</h1>
        <div class="change-text">
            <h3>And I'm</h3>
            <h3>
                <span style="margin-left: 10px;">{{ currentWord }}</span>
            </h3>
        </div>
        <div class="btn-box">
            <a href="#" class="btn">Show CV</a>
            <a href="" class="btn">Let's Talk</a>
        </div>

        <div class="home-socials">
            <a href="https://github.com/HosnyFahim" target="_blank"><img src="./assets/icons/github.svg"></a>
            <a href="https://linkedin.com/in/hosny-fahim-860766236" target="_blank"><img
                    src="./assets/icons/linkedin.svg"></a>
            <a href="https://www.facebook.com/hosny.fahim.1991" target="_blank"><img
                    src="./assets/icons/facebook.svg"></a>
            <a href="https://twitter.com/Hosny_Fahim" target="_blank"><img src="./assets/icons/twitter.svg"></a>
        </div>
    </div>

    <div class="home-img">
        <div class="img-box"></div>
    </div>
</section>