.home {
    position: relative;
    background: url(/assets/img/intro-crop.webp);
    background-repeat: no-repeat;
    background-size: clamp(570px, 197.133105802px + 39.2491467577vw, 800px), 400px;
    background-position: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    margin-top: 120px;
    scroll-margin-top: 120px;
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.home-content {
    position: relative;
    margin-bottom: 100px;

    .traslate {
        position: absolute;
        top: 0;
        display: inline-block;
        transform: rotate(-90deg);
        width: max-content;
        font-size: clamp(2.5rem, -0.625rem + 5vw, 4.375rem);
        height: -moz-fit-content;
        height: fit-content;
        margin-top: 10%;
        left: -18%;
    }

    h1 {
        font-size: clamp(3.75rem, -1.875rem + 7.5vw, 5.625rem);
        font-weight: 900;
        width: max-content;
    }

}


.img-home {
    position: absolute;
    bottom: 11%;
    width: 32vw;
    height: auto;
}

.change-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    span {
        color: var(--title-color);
        position: absolute;
        display: flex;
        width: max-content;
        font-size: clamp(2rem, .1761945392rem + 3.0716723549vw, 3.125rem);
        font-weight: 600;
        top: clamp(5.438rem, 5.143vw + 2.223rem, 7.688rem);
    }

    h3 {
        display: inline-flex;
        margin: 0;
        vertical-align: top;
    }
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin-top: 140px;

    .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 100%;
        background: var(--main-color);
        border: 1px solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
        font-size: clamp(1.25rem, 1.0427631579rem + .4111842105vw, 1.6375rem);
        font-weight: 600;
        letter-spacing: .1rem;
        color: var(--first-bg-color);
        z-index: 1;
        overflow: hidden;
        transition: border-radius 225ms;
        border-radius: 10px;

    }
}



.btn-box .btn:hover {
    color: var(--main-color);
    transition: 225ms ease-in-out;
    border-radius: 0% 0% 50px 0% / 0% 0% 50px 0% !important;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 225ms;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-socials {
    position: absolute;
    bottom: 0;
    left: 0;
    width: clamp(25rem, 24.138vw + 9.159rem, 38.125rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-line {
        width: 105px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--main-color);
        border: 1.5px solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
    }

    a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 1px solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
        z-index: 1;
        overflow: hidden;
        transition: border-radius 225ms;
        border-radius: 5px;
    }

    .mail {
        width: 32px !important;
        height: 32px !important;
    }

    img {
        width: 40px;
        height: 40px;
        filter: invert(66%) sepia(71%) saturate(5110%) hue-rotate(164deg) brightness(100%) contrast(200%);
        transition: 225ms;
    }
}

.bottom-img {
    position: absolute;
    width: calc(100vw - 10px);
    top: clamp(60%, 17.7303754266px + 10.2389078498vw, 28%);
}

.home-socials img:hover {
    filter: invert(8%) sepia(16%) saturate(3327%) hue-rotate(169deg) brightness(95%) contrast(96%);
}

.home-socials a:hover {
    color: var(--first-bg-color);
    border-radius: 0% 0% 15px 0%;
    border: none;
}

.home-socials a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 225ms;
}

.home-socials a:hover::before {
    width: 100%;
}

.mail {
    display: flex;
}


//----------------   animations --------------------------------//




@keyframes animateBtn {
    0% {
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    }

    50% {
        border-radius: 0% 0% 30% 0% / 0% 0% 30% 0%;
    }

    100% {
        border-radius: 0% 0% 30% 0% / 0% 0% 30% 0%;
    }
}

@media only screen and (max-width: 1550px) {
    .img-home {
        bottom: 14%;
    }
}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1450px) {}

@media only screen and (max-width: 1400px) {
    .btn-box {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 1350px) {
    .btn-box {
        margin-top: 100px;

        .btn {
            width: 11rem;
        }
    }
}

@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1250px) {}

@media only screen and (max-width: 1200px) {
    .traslate {
        left: -18% !important;
    }
}

@media only screen and (max-width: 1150px) {
    .img-home {
        bottom: 16%;
    }

    .home {
        background-position: -8% !important;
    }

    .traslate {
        left: -18% !important;
    }
}

@media only screen and (max-width: 1100px) {
    .traslate {
        left: -20% !important;
    }
}

@media only screen and (max-width: 1050px) {
    .img-home {
        bottom: 17%;
    }
}

@media only screen and (max-width: 1000px) {
    .home {
        margin-top: 0;
        background-position: top 140px center !important;
        background-size: clamp(15rem, 78.873vw + 3.169rem, 50rem);
    }

    .parent-container {
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }

    .img-box {
        display: flex;

        .img-home {
            position: static;
            width: clamp(14rem, 26.528vw + 9.358rem, 25.938rem);
        }
    }

    .change-text {
        span {
            font-size: clamp(1.0625rem, 0.4549rem + 3.4722vw, 2.625rem);
            top: clamp(2.813rem, 7.472vw + 1.33rem, 6.625rem) !important;
        }
    }

    .btn-box {
        margin-top: 65px;
        margin-left: 0 !important;
    }

    .home-content {
        z-index: 10;

        h1 {
            font-size: clamp(1.8125rem, .0208333333rem + 7.5438596491vw, 4.5rem);
        }

        .traslate {
            font-size: clamp(1.625rem, 0.7986rem + 4.7222vw, 3.75rem);
        }
    }

    .bottom-img {
        top: clamp(45%, 17.7303754266px + 10.2389078498vw, 28%);
    }

    .home-socials {
        bottom: 60px;
        width: 77%;
    }
}


@media only screen and (max-width: 550px) {
    .home-socials {
        bottom: 25px;

        .left-line {
            width: 40px;
        }

        a {
            width: 30px;
            height: 30px;
        }

        img {
            width: 30px;
            height: 30px;
        }

        .mail {
            width: 24px !important;
            height: 24px !important;
        }
    }

    .traslate {
        left: -21% !important;
    }

    .parent-container {
        gap: 36px;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 400px) {
    .traslate {
        left: -23% !important;
    }
}