.home {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 2rem
}

.home-content {
    max-width: 600px;

    h1 {
        font-size: var(--big-font);
        font-weight: 700;
    }

}

.img-box {
    background: url(/assets/img/my-img.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: rgba(0, 210, 253, 0.7);
    height: 500px;
    width: 500px;
    margin: auto;
    border: 0.2rem solid var(--main-color);
    box-shadow: var(--neon-box-shadow);
    animation: animate 10s ease-in-out infinite;
    transition: all 200ms ease-in-out;
}

.change-text {
    margin-top: 8px;
    font-size: 2rem;
    font-weight: 600;

    span {
        color: var(--main-color);
        text-shadow: var(--neon-box-shadow);
        position: absolute;
        display: flex;
    }

    h3 {
        display: inline-flex;
        margin: 0;
        vertical-align: top;
    }
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30.5rem;
    height: 5rem;
    margin-top: 20px;

    .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 100%;
        background: var(--main-color);
        border: .2rem solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: .1rem;
        color: var(--first-bg-color);
        z-index: 1;
        overflow: hidden;
    }
}



.btn-box .btn:hover {
    color: var(--main-color);
    transition: 225ms ease-in-out;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--first-bg-color);
    z-index: -1;
    transition: 225ms;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-socials {
    position: absolute;
    bottom: 16rem;
    width: 13rem;
    display: flex;
    justify-content: space-between;

    a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: .2rem solid var(--main-color);
        box-shadow: var(--neon-box-shadow);
        z-index: 1;
        overflow: hidden;
    }

    img {
        width: 32px;
        height: 32px;
        filter: invert(66%) sepia(71%) saturate(5110%) hue-rotate(164deg) brightness(100%) contrast(200%);
        transition: 225ms;
    }
}

.home-socials img:hover {
    filter: invert(8%) sepia(16%) saturate(3327%) hue-rotate(169deg) brightness(95%) contrast(96%);
}

.home-socials a:hover {
    color: var(--first-bg-color);
}

.home-socials a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 225ms;
}

.home-socials a:hover::before {
    width: 100%;
}

.mail {
    display: flex;
}


//----------------   blob animations --------------------------------//


@keyframes animate {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    80% {
        border-radius: 32% 68% 42% 58% / 58% 51% 49% 42;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }

    77% {
        border-radius: 49% 51% 51% 49% / 40% 62% 38% 60;
    }

    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
}