<section class="home" id="home">
    <div class="parent-container">
        <div class="img-box">
            <img class="img-home" src="/assets/img/my-img.png">
        </div>
        <!-- <div class="img-box"></div> -->
        <div class="home-content">
            <span class="traslate">I am</span>
            <div class="change-text">
                <h1>Hosny Fahim</h1>
                <span>{{ currentWord }}</span>
                <div class="btn-box">
                    <!-- <a href="#" class="btn">Show CV</a> -->
                    <a href="#contact" class="btn">Let's Talk</a>
                </div>
            </div>

        </div>
    </div>
    <img class="bottom-img" src="/assets/img/Vector.svg">
    <div class="home-socials">
        <div class="left-line"></div>
        <a href="https://github.com/HosnyFahim" target="_blank"><img src="./assets/icons/github.svg"></a>
        <a href="https://linkedin.com/in/hosny-fahim-860766236" target="_blank"><img
                src="./assets/icons/linkedin.svg"></a>
        <a href="https://www.facebook.com/hosny.fahim.1991" target="_blank"><img src="./assets/icons/facebook.svg"></a>
        <a href="https://twitter.com/Hosny_Fahim" target="_blank"><img src="./assets/icons/twitter.svg"></a>
    </div>
</section>